<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Aplikasir.My.MySettings.dbKasirConnectionString" connectionString="Data Source=DESKTOP-C6F2DKO\SQLEXPRESS01;Initial Catalog=dbKasir;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Aplikasir.My.MySettings.dbKasirConnectionString1"
            connectionString="Data Source=DESKTOP-E1JB7KO\SQLEXPRESS;Initial Catalog=dbKasir;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>