<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Perpustakaan.Properties.Settings.DBPerpusConnectionString"
            connectionString="Data Source=DESKTOP-2CLQ26N\SQLEXPRESS;Initial Catalog=DBPerpus;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>